body{
 
 
}

.background{
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    color:white;
    width:100%;
    height:100vh;
    top:0%;
    background-color:rgba(0, 0, 0, 0.548);
    padding:2rem;
    border: 1px solid rgb(122, 28, 28);
    border-radius:3px;
    overflow: hidden;
}

.baloon{
    position: absolute;
    left:11.5%;
    top:15%;
}
.baloon img{
        animation-duration: 2s;
        animation-name: baloon;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
@keyframes baloon{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0px);
    }
}


.gif-bg{
    width:100%;
    background-image: url("http://giphygifs.s3.amazonaws.com/media/OKYuALyOExdU4/giphy.gif");
    background-color: black;
    background-size:  contain;
    background-repeat: repeat;
    height:100vh;
    opacity: 0.3;

}
#logo{
    position: absolute;
    top:8%;
    left:0%;
    z-index: 100;
    
}
#logo img{
    max-width:200px
}

#text-underlogo{
   margin-left:4rem;
   margin-top:2rem;
}
#text-underlogo h3{
    color:white;
    opacity: 0.3;
    transition: opacity 1s;
}
#text-underlogo h3:hover{
    opacity: 1
}