body{
overflow: hidden;
}

.background{
    position:absolute;
    color:white;
    width:100%;
    height:100vh;
    top:0%;
    background-color:rgba(0, 0, 0, 0.548);
    overflow: hidden;
    z-index: 0;
}
.background-small{
    position:absolute;
    color:white;
    width:100%;
    height:100vh;
    top:0%;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
}
.background-small img{
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

.baloon{
    position: absolute;
    width:100%;
  z-index: 1;
}
.baloon img{
    width:100%;
}
.baloon img{
        animation-duration: 2s;
        animation-name: baloon;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}


@keyframes baloon{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0px);
    }
}


.gif-bg{
    width:100%;
    background-image: url("http://giphygifs.s3.amazonaws.com/media/OKYuALyOExdU4/giphy.gif");
    background-color: black;
    background-size:  contain;
    background-repeat: repeat;
    height:100vh;
    opacity: 0.3;

}
#logo{
    position: absolute;
    top:8%;
    left:0%;
    z-index: 2;
    
}
#logo img{
    max-width:200px
}

#text-underlogo{
   margin-left:4rem;
   margin-top:2rem;
}
#text-underlogo h3{
    color:white;
    opacity: 0.3;
    transition: opacity 1s;
}
#text-underlogo h3:hover{
    opacity: 1
}